
# Ignorar ambientes virtuais
venv/
.env/
.envrc

# Ignorar cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar arquivos de sistema
.DS_Store
Thumbs.db

# Ignorar arquivos de configuração locais
.vscode/
*.log
*.sqlite
*.db
*.json
*.key
*.pem

# Ignorar dados temporários ou brutos
*.parquet
*.csv
*.bak
*.tmp

