# Ambientes virtuais
venv/
.env/
.envrc

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de sistema
.DS_Store
Thumbs.db

# Configurações locais de IDE
.vscode/

# Arquivos de log e temporários
*.log
*.bak
*.tmp

# Arquivos de banco e dados locais
*.sqlite
*.db

# Arquivos de dados sensíveis
*.json
*.key
*.pem

# Dados temporários ou brutos
*.parquet
*.csv

# Diretórios de histórico e checkpoints
.history/
block_range_checkpoint.txt
